.header{
    font-size: 55px;
    font-weight: bolder;
    background-color: blue;
    border: 2px solid black;
    width: 100%;
    text-align: center;

}

@media screen and (max-width:768px){
    .header{
       
        font-weight: bolder;
        font-size: 25px;
    
    }
}