


.carosello-attivita{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  height: auto;
  
  
}


@media screen and (max-width:768px){
  .carosello-attivita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
  }
  
}